{% extends "home.html" %}

{% block content %}
<h5
    style="text-align: center; color:#212529; padding-top: 300px; font-family: 'Poppins', sans-serif; margin-bottom: 5px;">
    Want to delete a PDF file before Merge?
</h5>
<h1 style="text-align: center; color:#212529; font-family: 'Poppins', sans-serif; margin-bottom: 30px;">
    Delete PDF
</h1>
<div class="container">
    <form action="" method="post">
        <div class="pdfimages">
            {% for i in inovices %}

            <span style="float: center; margin-left: 15px;">
                <img src="https://icons-for-free.com/iconfiles/png/512/eps+file+format+pdf+icon-1320167140815183040.png"
                    width="100px" height="100px" /><br>
                <input type="checkbox" name="checked" value="{{i.Inovice_pdf}}"> {{"/".join(i.Inovice_pdf.split('/')[2:])}}
            </span>
            {% endfor %}
        </div>
        <div class="inputelem">
            <input class="but" id="Delete" name="download" type="submit" value="delete pdf">
        </div>
    </form>
</div>
{% endblock %}